.container  {
  width:100%;
  height:100%;
}

.top-wrapper {
  color:red;
}

.btn {
  display:inline-block;
  color: white ;
}

.signup {
  background-color: #239b76
}

header {
  height: 500px;
  background-image:url(https://yahoo.jp/Yr5UTa);
}
