.btn {
  display:inline-block;
  color: white ;
}

.signup {
  background-color: #239b76
  padding: 15px;
  text-align: center;
}

.top-wrapper {
  width:1170px;
  height: 100px;
  background-image: url(https://yahoo.jp/Yr5UTa);
  background-size: cover;
  color:white;
}
