.top-wrapper {
  color:red;
}

.btn {
  display:inline-block;
  color: white ;
}

.signup {
  background-color: #239b76
  padding: 15px;
  text-align: center;
}

header {
  height: 500px;
  background-image:url(https://yahoo.jp/Yr5UTa);
}
